<h2>Devloper Tools</h2>
<mat-grid-list cols="3" rowHeight="6:1">
    <mat-grid-tile><button routerLink="json-viwer" mat-button><mat-icon>laptop_chromebook</mat-icon> JSON Viewer</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> JSON Differnce</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Text Differnce</button></mat-grid-tile>
</mat-grid-list>
<h2>Calculators</h2>
<mat-grid-list cols="3" rowHeight="6:1">
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Calculator</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Scientific Calculator</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Calorie Calculator</button></mat-grid-tile>
</mat-grid-list>
<h2>Downloaders</h2>
<mat-grid-list cols="3" rowHeight="6:1">
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> YouTube Video</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Instagram Reels</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Facebook Video</button></mat-grid-tile>
</mat-grid-list>
<h2>Social Tools</h2>
<mat-grid-list cols="3" rowHeight="6:1">
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Instagram Unfollowers</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Facebook Followers</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Instagram Bio</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Twitter </button></mat-grid-tile>
</mat-grid-list>
<h2>SEO Tools</h2>
<mat-grid-list cols="3" rowHeight="6:1">
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Keyword Ranking</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Domain Authority</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="slider" mat-button><mat-icon>laptop_chromebook</mat-icon> Keyword Search</button></mat-grid-tile>
</mat-grid-list>
  